{% extends 'main.html' %}
{% block title %}
Food Details
{% endblock title %}

{% block body %}

<div class="container">
    <div class="row justify-content-md-center pt-5">
  
      <div class="col-md-7">
        <h1>{{food.foodname}}</h1>
      </div>
      <div class="col-md-9"><img class="card-img-top" src="{{food.image.url}}" alt="{{ food.foodname }}"></div>
      <div class="col-md-7">
        <h2>Description</h2>
        <p>{{food.description|safe}}</p>
      </div>
      <div class="col-md-7">
  

        <div  class="my-2 p-2" style="border: 1px solid grey">
        <div class="d-flex justify-content-between">Quantity {{ food.quantity }}<div></div>Cost {{ food.cost }}</div>
        </div>
        
  
      </div>
    </div>
  </div>
  

{% endblock body %}